@import '~thejungle/reset';
@import '~thejungle/media';
@import '~thejungle';

$g-spinner-size: 80px;

html, body{
    font-family: 'Overpass Mono', monospace;
    font-size: 14px;
    color: #222;

    @include media('<=768px'){ font-size: 12px; }
    @include media('<=480px'){ font-size: 10px; }
}

.app{
    font-size: 1rem;
    display: flex;
    min-height: 100vh;
    align-items: stretch;

    @include media('<=1200px'){
        flex-direction: column-reverse;
        justify-content: flex-start
    }

    &__sec{ flex: 0 0 50%; }
}

@mixin app-section {
    display: flex;
    align-items: center;
    padding: 0 em(80px);

    @include media('<=1200px'){ justify-content: center }

    @include media('<=1200px'){
        padding: em(40px) em(80px);
        justify-content: center;
    }

    @include media('<=768px'){ padding: em(20px) em(40px); }
}

@mixin app-section-inner {
    width: 100%;
    @include media('<=1200px'){ max-width: 80%; }
    @include media('<=768px'){ max-width: unset; }
}

.exam{
    @include app-section;
    font-size: 1rem;
    background: #17223b;
    color: #f1f1e6;
    justify-content: flex-end;

    &__inner{
        @include app-section-inner;
        position: relative;
        font-size: em(20px);
        max-width: em(560px, 20px);
        line-height: 1.6;
        transition: color ease 0.2s;

        &--loading{ color: change-color(#f1f1e6, $alpha: 0.2); }
    }

    &__spinner{
        top: calc(50% - #{$g-spinner-size / 2});
        left: calc(50% - #{$g-spinner-size / 2});
    }
}

.main{
    @include app-section;
    font-size: 1rem;

    &__inner{
        @include app-section-inner;
        line-height: 1.6;
        max-width: em(580px);
    }

    &__head{ margin-bottom: em(60px); }
    &__opts{ margin-bottom: em(20px); }
    &__btns{ margin-bottom: em(60px); }
}

.head{
    font-size: 1rem;
    text-align: center;
    position: relative;

    &::after{
        @include size(50%, em(50px));
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        bottom: em(5px); left: 30%;
        background: #FFF7D6;
    }

    &__logo{
        line-height: 1;
        font-size: em(92px);
        margin-bottom: em(20px, 92px);
        padding-top: em(20px, 92px);
    }

    &__title{
        font-family: 'Fredoka One', cursive;
        line-height: 1;
        font-size: em(42px);
        margin-bottom: em(15px, 42px);
    }

    &__desc{
        font-size: em(18px);
        color: #888;
    }
}

.opts{
    font-size: 1em;

    &__opt{
        display: block;
        background: #f6f9ff;
        border: 1px solid #e5edffa6;
        padding: em(12px) em(28px);
        border-radius: 10px;

        &:not(last-child){ margin-bottom: em(10px); }
    }

    &__radio{
        margin-right: em(18px);
        vertical-align: middle
    }
}

.btns{
    font-size: 1rem;

    &__btn{
        font-size: em(16px);
        @include column(3, em(12px));
        font-family: 'Overpass Mono', monospace;
        padding: em(18px) 0;
        color: #222;
    }
}

.foot{
    font-size: 1rem;
    text-align: center;
    padding: em(40px) 0;

    @include media('<=1200px'){
        padding: 0;
        position: fixed;
        top: em(5px); right: em(10px);
    }

    &__link{
        $color: #746549;
        $color-active: lighten($color, $amount: 18%);

        color: $color;
        text-decoration: none;
        border-bottom: 1px dashed $color-active;

        &:hover{ color: $color-active }
    }
}

.spinner{
    $size: $g-spinner-size;
    $moved: $size*5/7;

    font-size: 1rem;
    position: absolute;
    z-index: 999;
    @include size($size);
    @include animate(1s infinite){
        from { transform: rotate(0deg) }
        to { transform: rotate(360deg) }
    }

    &__i{
        position: absolute;
        @include size($size*2/5);
        border-radius: $size/15;

        &--1{
            left: 0;
            background-color: #5c6bc0;
            @include animate(2s linear 0s infinite normal){
                0% { transform: translate(0, 0); }
                25% { transform: translate(0, $moved); }
                50% { transform: translate($moved, $moved); }
                75% { transform: translate($moved, 0); }
            }
        }

        &--2{
            right: 0;
            background-color: #8bc34a;

            @include animate(2s linear 0s infinite normal){
                0% {transform: translate(0, 0); }
                25% {transform: translate(-$moved, 0); }
                50% {transform: translate(-$moved, $moved); }
                75% {transform: translate(0, $moved); }
            }
        }

        &--3{
            bottom: 0;
            background-color: #ffb74d;

            @include animate(2s linear 0s infinite normal){
                0% {transform: translate(0, 0); }
                25% {transform: translate($moved, 0); }
                50% {transform: translate($moved, -$moved); }
                75% {transform: translate(0, -$moved); }
            }
        }

        &--4{
            bottom: 0;
            right: 0;
            background-color: #f44336;

            @include animate(2s linear 0s infinite normal){
                0% {transform: translate(0, 0); }
                25% {transform: translate(0, -$moved); }
                50% {transform: translate(-$moved, -$moved); }
                75% {transform: translate(-$moved, 0); }
            }
        }
    }
}
