@import '~thejungle/reset';
@import '~thejungle';

$g-spinner-size: 80px;

html,body{
    font-family: 'Overpass Mono', monospace;
    color: #222;
}

.app{
    font-size: 1rem;
    display: flex;
    min-height: 100vh;
    align-items: stretch;

    &__exam{ flex: 0 0 50%; }
    &__main{ flex: 0 0 50%; }
}

.exam{
    font-size: 1rem;
    background: #17223b;
    color: #f1f1e6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__spinner{
        top: calc(50% - #{$g-spinner-size / 2});
        left: calc(50% - #{$g-spinner-size / 2});
    }

    &__inner{
        width: 65%;
        font-size: em(20px);
        line-height: 1.6;
        transition: opacity ease 0.3s;

        &--loading{
            opacity: 0.2;
        }
    }
}

.main{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__inner{
        font-size: em(20px);
        line-height: 1.6;
        width: 70%
    }
}

.head{
    font-size: 1rem;
    text-align: center;
    margin-bottom: em(60px);
    position: relative;

    &::after{
        @include size(50%, em(45px));
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        bottom: em(10px); left: 30%;
        background: #FFF7D6;
    }

    &__logo{
        line-height: 1;
        font-size: em(100px);
        margin-bottom: em(20px, 100px);
    }

    &__title{
        font-family: 'Fredoka One', cursive;
        line-height: 1;
        font-size: em(42px);
        margin-bottom: em(10px, 42px);
    }

    &__desc{
        font-size: em(18px);
        color: #888;
    }
}

.opts{
    font-size: 1em;
    margin-bottom: em(15px);

    &__opt{
        font-size: 14px;
        display: block;
        background: #f6f9ff;
        border: 1px solid #e5edffa6;
        padding: 12px 28px;
        margin-bottom: em(15px, 14px);
        border-radius: 10px;
    }

    &__radio{
        margin-right: em(10px, 14px);
        vertical-align: middle
    }
}

.btns{
    font-size: 1rem;
    margin-bottom: em(60px);

    &__btn{
        @include column(2, em(20px, 14px));
        font-size: em(14px);
        font-family: 'Overpass Mono', monospace;
        padding: em(20px) 0;
        color: #222;
    }
}

.foot{
    font-size: 1rem;
    text-align: center;
    padding: em(40px);

    &__link{
        $color: #746549;
        $color-active: lighten($color, $amount: 15%);

        color: $color;
        text-decoration: none;
        border-bottom: 1px dotted $color-active;

        &:hover{ color: $color-active }
    }
}

.spinner{
    $size: $g-spinner-size;
    $moved: $size*3/5;

    font-size: 1rem;
    position: absolute;
    z-index: 999;
    @include size($size);
    @include animate(1s infinite){
        from { transform: rotate(0deg) }
        to { transform: rotate(360deg) }
    }

    &__i{
        position: absolute;
        @include size($size*2/5);
        border-radius: $size/15;

        &--1{
            left: 0;
            background-color: #5c6bc0;
            @include animate(2s linear 0s infinite normal){
                0% { transform: translate(0, 0); }
                25% { transform: translate(0, $moved); }
                50% { transform: translate($moved, $moved); }
                75% { transform: translate($moved, 0); }
            }
        }

        &--2{
            right: 0;
            background-color: #8bc34a;

            @include animate(2s linear 0s infinite normal){
                0% {transform: translate(0, 0); }
                25% {transform: translate(-$moved, 0); }
                50% {transform: translate(-$moved, $moved); }
                75% {transform: translate(0, $moved); }
            }
        }

        &--3{
            bottom: 0;
            background-color: #ffb74d;

            @include animate(2s linear 0s infinite normal){
                0% {transform: translate(0, 0); }
                25% {transform: translate($moved, 0); }
                50% {transform: translate($moved, -$moved); }
                75% {transform: translate(0, -$moved); }
            }
        }

        &--4{
            bottom: 0;
            right: 0;
            background-color: #f44336;

            @include animate(2s linear 0s infinite normal){
                0% {transform: translate(0, 0); }
                25% {transform: translate(0, -$moved); }
                50% {transform: translate(-$moved, -$moved); }
                75% {transform: translate(-$moved, 0); }
            }
        }
    }
}
